<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>S&#236;/mon</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <script src="{{ url_for('static', filename='js/vendor/socket.io.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/sock.js') }}"></script>
  <script src="{{ url_for('static', filename='js/api.js') }}"></script>
</head>

<body>
  <header>
    <h1>S&#236;/mon</h1>
  </header>

  <form id="device-creation-form">
    <label>IP Address</label>
    <div id="inet" style="display: inline-block;">
      <input type="number" placeholder="192">
      <input type="number" placeholder="168">
      <input type="number" placeholder="1">
      <input type="number" placeholder="11">
    </div>
<!--    <input id="inet" type="text" placeholder="123.456.789.012">-->
    <label>Device ID</label>
    <input id="devid" type="number" placeholder="unit id">
  </form>

  <button onclick="Api.createDevice(event)">Submit</button>
  <button onclick="clearInputs(event)">Cancel</button>

  <h2>Devices</h2>
  <!--<p>Only one device shown means that it's reporting the alarm for that device. The other devices will display again after 5 seconds</p>-->
  <hr>
  <div id="device-list">Loading...</div>
</body>

</html>
