*, *::before, *::after {
    box-sizing: border-box;
}

body, main, figure, ul {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto";
    background: #efefef;
}

@keyframes phase {
    from {
        opacity: 1;
    } to {
        opacity: 0.4;
    }
}

input {
    width: 60px
}

#device-list {
    display: flex;
    padding: 12px;
}

.threshold-indicator {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 11px;

    animation: phase 0.9s ease-in-out infinite alternate;
}
.alarm-dot-1 { background: #ab47bc; }
.alarm-dot-2 { background: #2196f3; }
.alarm-dot-3 { background: #4caf50; }
.alarm-dot-4 { background: #ffc107; }
.alarm-dot-5 { background: #f44336; }

.device-card {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 200px;
}

.device-card__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.device-card__title {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
    margin: 0;
}

.device-card__subhead, .device-card__content {
    font-size: .775rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    opacity: .6;
    margin: 0;
}

.device-card__media > .temperature {
    font-size: 2.5rem;
}

.temperature > .fahrenheit {
    opacity: 0.6;
    font-size: .875rem;
    font-weight: 300;
}

header {
    background: #00979d;
    padding: 12px;
}

header h1 {
    text-align: center;
    font-weight: 400;
    color: #fff;
    margin: 0;
    font-size: 1.25rem;
    line-height: 2rem;
}